* {
  margin: 0%;
  padding: 0%;
  border: none;
  text-decoration: none;
  list-style: none;
  background: none;
}
* input:focus, * button:focus {
  outline: none;
}

body {
  font-family: "Righteous", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: rgb(28, 24, 20);
}

.nav {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  margin: 0 auto;
  height: 125px;
}
.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.nav .menu__link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  font-family: Inter;
  -webkit-transition: 1s;
  transition: 1s;
}
.nav .menu__home {
  color: rgb(201, 158, 113);
  font-weight: 700;
}
.nav i {
  color: rgb(255, 255, 255);
}

.menu__link:hover {
  color: rgb(201, 158, 113);
}

.banner__section {
  background: url("/public/img/header-fonts.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 147px 0 158px;
}

.banner-title {
  color: rgb(255, 255, 255);
  font-family: Righteous;
  font-size: 72px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.banner__info {
  max-width: 529px;
}

.banner-text {
  margin: 32px 0px 28px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.banner__video {
  width: 93px;
  height: 109px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(201, 158, 113);
}

.banner-btn {
  padding: 24px 40px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.video-btn {
  background: url("/public/img/Video.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  border: 1.5px solid rgb(255, 255, 255);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
}

.video-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */