.btn {
    color: $white;
    background-color: $light-brown;
}

.banner-btn {
    padding: 24px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.video-btn {
    background: url("/public/img/Video.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    border: 1.5px solid $white;
    box-sizing: border-box;
    border-radius: 100%;
}

.video-title {
    color: $white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}