.nav {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin: 0 auto;
    height: 125px;
    .menu {
        display: flex;
        gap: 48px;
    }

    .menu__link {
        color: $white;
        font-size: 18px;
        font-weight: 400;
        font-family: Inter;
    }
}